@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="banner">
        <div class="welcome-message">
            <p>Create Your Today's Plan!</p>
            <a href="#" class="btn btn-success">Get Started!</a>
        </div>
    </div>
</div>