body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content, .row, .p, .div {
    padding: 0;
    margin: 0;
}

/* Set width on the form input elements since they're 100% wide by default */


/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* main css for home */
.banner
{
    width: 100%;
    background-color: white;
    padding: 150px;
    text-align: center;
}
.banner h2
{
    font-weight: bold;
    font-size: 45px;
    color: #262a52;
}
.banner a
{
    margin-top: 20px;
    padding: 7px 30px;
}


/* main css for user (registration, login) */
.user
{
    width: 100%;
    text-align: center;
}
.user .top
{
    padding: 25px;
}
.user .main
{
    padding: 50px 0px;
}
.user table
{
    text-align: left;
}
.user .main input
{
    text-align:center;
}
.user input
{
    width: 100%;
}


/* main css for footer */
footer
{
    text-align: center;
}


/* normalize bootstrap */
.row, .navbar, .navbar-inverse, .navbar-fixed-top, .form-control
{
    padding: 0;
    margin: 0;
}
.form-control
{
    border-radius: 0;
}
.navbar
{
    background-color: #262a52;
}
.navbar-inverse
{
    background-color: #262a52;
}
.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand
{
    color: white;
}
.btn
{
    border-radius: 0;
}