@{
    ViewBag.Title = "Home Page";
}

<div class="main">
    <div class="row">
        <div class="container">
            <div class="head">
                <h2>@ViewBag.Title</h2>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="container">
            <div class="content">

            </div>
        </div>
    </div>

</div>