@model TodoList.Models.TodoModels

@{
    ViewBag.Title = "Todo";
}
<div class="content">
    <div class="row">
        <div class="container">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
    <div class="row">
        <hr />
        <div class="container">
            <div class="main">
                <div class="row">
                    <div class="yesterday">
                        <div class="title">What did you accomplish yesterday?</div>
                        <div class="do">
                            <div class="col-md-8">
                                <ul>
                                    <li>Try ASP .NET</li>
                                    <li>Learn Angular</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="today">
                        <div class="title">To Do</div>
                        <div class="do">
                            <div class="col-md-8">
                                <ul>
                                    <li>Try ASP .NET</li>
                                    <li>Learn Angular</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



