ul, li, div, p
{
    padding: 0;
    margin: 0;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* main css for home */
.banner
{
    width: 100%;
    background-color: white;
}
.banner .welcome-message
{
    width: 100%;
    padding: 230px;
    padding-top: 180px;
    color: #292a47;
    text-align: center;
}
.banner .welcome-message p
{
    font-size: 40px;
    font-weight: bold;
}
.main
{
    width: 100%;
}
.main .title
{
    margin-bottom: 10px;
    font-size: 20px;
    color: #292a47;
    font-style: italic;
    width: 100%;
}
.main ul li
{
    list-style: none;
}
.main .row
{
    width: 100%;
    margin-bottom: 20px;
}
.main ul li
{
    padding: 10px;
    background-color: #f6f6f6;
    margin: 5px;
    border: 1px solid #eaeaea;
}
.main .today
{

}
/* main css for footer */
footer
{
    text-align: center;
}

/* bootstrap normalization */
.navbar
{
    background-color: #292a47;
    border-bottom: 1px dashed #8d7dc8;
    color: white;
}
.navbar-inverse .navbar-brand
{
    color: white;
}
.navbar-inverse .navbar-nav > li > a
{
    color: white;
}
.row
{
    margin: 0;
    padding: 0;
}
.btn
{
    border-radius: 0;
    padding: 10px 25px;

}
.btn-success
{
    background-color: #466982;
    border: 1px solid #466982;
}